:root {
  --white: #fff;
  --black: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: #000;
    --black: #fff;
  }
}

body {
  width: 25rem;
  background-color: var(--white);
  color: var(--black);
  padding: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0.25em 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.25em 0;
  text-align: right;
}